name: Upload SARIF

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  upload-sarif:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          checkout_path: /home/npetzall/repos/npetzall/sarif-upload-test
          sarif_file: report_ban.sarif
          category: cargo-deny

